[Unit]
Description=Headphones - Automatic music downloader

[Service]
ExecStart=/opt/headphones/Headphones.py --daemon --config /opt/headphones/headphones.ini --datadir /home/headphones/.headphones --nolaunch --quiet
GuessMainPID=no
Type=forking
User=headphones
Group=usenet

[Install]
WantedBy=multi-user.target