[Unit]
Description=Sonarr Daemon
After=syslog.target network.target

[Service]
User={{ sonarr_user }}
Group={{ sonarr_group }}

Type=simple
ExecStart=/usr/bin/mono {{ sonarr_dir }}/{{ sonarr_bin }} -nobrowser -data {{ sonarr_data_dir }}
TimeoutStopSec=20

[Install]
WantedBy=multi-user.target