[Unit]
Description=CouchPotato application instance
After=network.target

[Service]
ExecStart=/opt/couchpotato/CouchPotato.py --daemon 
GuessMainPID=no
Type=forking
User=couchpotato
Group=usenet

[Install]
WantedBy=multi-user.target